.BodyTop{
    display: flex;
    justify-content: center;
    gap: 15px;
    /* background-color: rgb(248, 247, 245); */
    padding: 30px 0px;
    flex-wrap: wrap;

}
.TopItems{
    display: flex;
    max-width: 400px;
    padding: 20px 10px;
    border-radius: 5px;
    box-shadow: 1px 3px 14px -6px rgba(0,0,0,0.75);
-webkit-box-shadow: 1px 3px 14px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 3px 14px -6px rgba(0,0,0,0.75);
}
.Paragraph{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px 10px;
    justify-content: center;
}